[mysqld]
; Log to stdout & stderr
; console=1
general_log=on
general_log_file=/var/log/mysql/error.log
; log_error=

; Unicode
collation-server=utf8_unicode_ci
character-set-server=utf8
max_allowed_packet=1073741824
